
#full_recipe_stats{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 60px;
}

.recipe-metadata{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px;
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    
}

.diet_blurb{
    display: flex;
    padding: 15px;
}

#recipe_slip{
    width: 80%;
    margin: 0 auto;       
}

.instructions{
    padding: 15px;
    line-height: 24px;
}
#all_ingredients{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 200px;
}
.header{
    background-color:  var(--ac-color);
    border-radius: 30px 30px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#my-ingredients{
    background-color: #f0e8db;
    border-radius: 10px;
}