nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1.5rem 3rem;
    border-bottom: 1px solid var(--ac-color);
}

h1{
    color: var(--ac-color);
    text-align: center;
    font-size: 200%;
}

.start {
    justify-content: start;
}

.center {
    justify-content: center;
}

.end {
    justify-content: end;
}

.start,
.center,
.end {
    display: flex;
    align-content: center;
    gap: 2rem;
    line-height: 0;
}

#signup, #profile {
   padding-left: 1rem;
}

a, .feedback_form {
    cursor: point;
    color: var(--ac-color);
    text-decoration: none;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th{
    background-color: var(--ac-color);
    cursor: pointer;
}
tr:hover{
    background-color: var(--bg-color2);
}
.bookmark-container, .like-container {
    width: 24px;  /* adjust to taste */
    height: 24px;
    display: flex;
    justify-content: space-between;
      gap: 5px;
}

#feedback{
    display: flex;
    flex-direction: column;
    gap: 15px;
    column-gap: 1rem;
    color: black;
    height: 100%;
    
}

select, option{
    cursor: point;
    background-color: var(--bg-color2);
    accent-color: var(--bg-color);
    border: 1px solid var(--ac-color3);
    border-radius: 5px; 
}